00_NodeRed_Flow(code_example)/00_NodeRed_Flow(code_example).json
[{"id":"893a1502.cdfd9","type":"mqtt in","z":"62126786.b8d86","name":"","topic":"test","qos":"1","broker":"c396a0fd.20fb2","x":90,"y":200,"wires":[["c2c5dc7a.f09b68"]]},{"id":"cc638b0b.bf04e8","type":"inject","z":"62126786.b8d86","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":380,"wires":[["61cdca33.b960bc"]]},{"id":"c2c5dc7a.f09b68","type":"debug","z":"62126786.b8d86","name":"","active":true,"console":"false","complete":"false","x":270,"y":200,"wires":[]},{"id":"fe11b188.539168","type":"comment","z":"62126786.b8d86","name":"The MQTT node is set to communicate with the i-DAT broker","info":"","x":260,"y":60,"wires":[]},{"id":"c1485472.ea67f","type":"comment","z":"62126786.b8d86","name":"When a new message appears in the subscribed topic, the node will report this as an output ","info":"","x":360,"y":100,"wires":[]},{"id":"dd6419b1.18a098","type":"comment","z":"62126786.b8d86","name":"The Debug node receives on its input the message, and displays it on the Info panel of Node-Red","info":"","x":370,"y":140,"wires":[]},{"id":"a2f1ff25.5face8","type":"comment","z":"62126786.b8d86","name":"The Inject node can trigger messages either by pressing its left button, or by setting intervals","info":"","x":360,"y":300,"wires":[]},{"id":"61cdca33.b960bc","type":"mqtt out","z":"62126786.b8d86","name":"","topic":"test","qos":"1","retain":"","broker":"c396a0fd.20fb2","x":310,"y":380,"wires":[]},{"id":"9f35e0fb.1af8b8","type":"comment","z":"62126786.b8d86","name":"By connecting the Trigger to the MQTT node, we current message can be published on the broker's \"test\" topic","info":"","x":420,"y":340,"wires":[]},{"id":"ceb9ec.ca95ce18","type":"switch","z":"62126786.b8d86","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"false","outputs":3,"x":550,"y":660,"wires":[["71325758.ec838"],["50357d68.da32f4"],["5367d1d7.0cd618"]]},{"id":"9d139ad1.04ff5","type":"sentiment","z":"62126786.b8d86","name":"","x":420,"y":660,"wires":[["ceb9ec.ca95ce18","8da56dc3.23ad88"]]},{"id":"c0018daf.1987d8","type":"inject","z":"62126786.b8d86","name":"","topic":"Message","payload":" I feel very bad today","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":700,"wires":[["9d139ad1.04ff5"]]},{"id":"71325758.ec838","type":"function","z":"62126786.b8d86","name":"Positive","func":"msg.payload = \"Positive!\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":620,"wires":[["794a2a36.9e43ec"]]},{"id":"50357d68.da32f4","type":"function","z":"62126786.b8d86","name":"Neutral","func":"msg.payload = \"Neutral\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":660,"wires":[["794a2a36.9e43ec"]]},{"id":"5367d1d7.0cd618","type":"function","z":"62126786.b8d86","name":"Negative","func":"msg.payload = \"Negative!\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":700,"wires":[["794a2a36.9e43ec"]]},{"id":"794a2a36.9e43ec","type":"debug","z":"62126786.b8d86","name":"","active":true,"console":"false","complete":"false","x":870,"y":660,"wires":[]},{"id":"64fa9d6.48e43e4","type":"debug","z":"62126786.b8d86","name":"","active":true,"console":"false","complete":"payload","x":650,"y":780,"wires":[]},{"id":"8da56dc3.23ad88","type":"function","z":"62126786.b8d86","name":"GetScore","func":"msg.payload = msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":780,"wires":[["64fa9d6.48e43e4"]]},{"id":"d7295de9.fac018","type":"inject","z":"62126786.b8d86","name":"","topic":"Message","payload":" I feel just ok today","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":660,"wires":[["9d139ad1.04ff5"]]},{"id":"34850802.ddab2","type":"mqtt out","z":"62126786.b8d86","name":"","topic":"test","qos":"1","retain":"","broker":"c396a0fd.20fb2","x":630,"y":820,"wires":[]},{"id":"fc23e0b5.fb7c98","type":"comment","z":"62126786.b8d86","name":"In the following example, by injecting a message to the Sentiment node, the content is anaysed and the sentiment of the sentense is extracted","info":"","x":510,"y":520,"wires":[]},{"id":"2f5b0f60.95a58","type":"comment","z":"62126786.b8d86","name":"The score of the sentiment can be used then to automate other processes (i.e. send its output to the MQTT topic so that another process is triggered)","info":"","x":540,"y":560,"wires":[]},{"id":"c396a0fd.20fb2","type":"mqtt-broker","z":"","broker":"broker.i-dat.org","port":"80","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]
